# Python + Eclipse
*.pyc
*.pyo
*.*~
*.*~*
.project
.pydevproject
.settings/
.tox/

build/
dist/

# Python Coverage files generate by nose
.coverage

# Ditz stuff
.ditz-config

# Git cacharra
*.orig

# Paquetes .egg-info
*.egg-info/

# Python Rope for Emacs
.ropeproject/
*#
#*

eproject.cfg
