*.pyc
*.pyo
*.*~
*.*~*
.tox/
.cache/
.hypothesis/
build/
dist/
__pycache__/
.mypy_cache/
.coverage*
*.egg-info/
monkeytype.sqlite3
poetry.lock
requirements-dev.lock
requirements.lock
src/xotl/tools/_version.py
