---
stages:
  - pre-check
  - test
  - build
  - publish
  - clean up

workflow:
  auto_cancel:
    on_new_commit: interruptible
    on_job_failure: all

.x-code: &code
  - pyproject.toml
  - mypy.ini
  - tox.ini
  - requirements-dev-*.lock
  - src/**/*.py
  - tests/**/*.py
  - .gitlab-ci.yml

.x-code-and-docs: &code-and-docs
  - pyproject.toml
  - mypy.ini
  - tox.ini
  - requirements-dev-*.lock
  - src/**/*.py
  - tests/**/*.py
  - .gitlab-ci.yml
  - docs/**/*.rst
  - docs/**/*.py
  - docs/**/*.css

lint:
  interruptible: true
  image: python:3.12
  stage: test
  needs: []
  script:
    - pip install -r requirements-dev-py312.lock
    - ruff check src/
    - ruff format --check src/
    - isort --check --diff src/
  rules:
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH =~ /^releases-/
      changes: *code

.run_staticcheck: &run_staticcheck
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME-$PYTHON
    paths:
      - .mypy_cache/
  script:
    - pip install tox
    - tox -e system-staticcheck

.run_tests: &run_tests
  image: python:$PYTHON
  stage: test
  cache:
    key: $CI_JOB_NAME-$PYTHON
    paths:
      - .tox/
  script:
    - pip install tox
    - tox -e system-$CASE -- -n auto

test doctests:
  image: python:$PYTHON
  stage: test
  interruptible: true
  script:
    - pip install tox
    - tox -e system-doctest
  rules:
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH =~ /^releases-/
      changes: *code-and-docs
  parallel:
    matrix:
      - PYTHON: ["3.8", "3.9", "3.10", "3.11", "3.12"]

run required static checks:
  <<: *run_staticcheck
  interruptible: true
  allow_failure: true
  rules:
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH =~ /^releases-/
      changes: *code
  parallel:
    matrix:
      - PYTHON: ["3.8", "3.9", "3.10", "3.11", "3.12"]

tests:
  <<: *run_tests
  interruptible: true
  rules:
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH =~ /^releases-/
      changes: *code
  parallel:
    matrix:
      - PYTHON: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        CASE: ["unit", "greenlets"]

build:
  image: python:3.12
  stage: build
  script:
    - pip install hatch
    - hatch build
  artifacts:
    paths:
      - dist/
  rules:
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_TAG =~ /^\d+(\.\d+)*(|a\d+|b\d+|rc\d+)?(\.post\d+)?$/
    - if: $CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH =~ /^releases-/
      changes: *code

check signature of tag:
  image: alpine
  stage: test
  script:
    - apk add gnupg git
    - cat $GNUPG_KEY_FILE | gpg --import
    - git verify-tag $CI_COMMIT_REF_NAME
  rules: &release-rules
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_TAG =~ /^\d+(\.\d+)*(|a\d+|b\d+|rc\d+)?(\.post\d+)?$/

publish in pypi:
  image: python:3.12
  variables:
    GIT_STRATEGY: none
  stage: publish
  script:
    - pip install twine
    - twine upload --skip-existing -u "$PYPI_USERNAME" -p "$PYPI_PASSWORD" dist/*
  needs:
    - check signature of tag
    - build
  environment:
    name: pypi
    url: https://pypi.org/project/$CI_PROJECT_NAME/$CI_COMMIT_REF_NAME
  rules: *release-rules

.build_doc: &build_doc
  image: python:3.12
  stage: build
  cache:
    key: docs-${CI_COMMIT_REF_SLUG}
    paths:
      - docs/builds/
  script:
    - apt-get update && apt-get install -y git make
    - pip install -r requirements-dev-py312.lock
    - make -C docs/ html
    - mkdir -p public
    - cp -r docs/build/html/* public/
  artifacts:
    paths:
      - docs/build/html
      - public/
    expire_in: 4 days
  needs: []

build documentation:
  <<: *build_doc
  interruptible: true
  needs: []
  rules:
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_TAG
      variables:
        SPHINXOPTS: ""
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        SPHINXOPTS: ""
    - if: $CI_MERGE_REQUEST_IID
      changes: *code-and-docs
      variables:
        SPHINXOPTS: "-W"

.publish_rtd: &publish_rtd
  image: alpine
  variables:
    GIT_STRATEGY: none
  stage: publish
  script:
    - |
      apk add openssh rsync
      mkdir -p $HOME/.ssh
      chmod 700 $HOME/.ssh
      cp $RSA_KEY_FILE $HOME/.ssh/id_rsa
      chmod 600 $HOME/.ssh/id_rsa
      cp $SSH_CONFIG_FILE $HOME/.ssh/config
      ssh docs.lahavane.com mkdir -p /data/$CI_PROJECT_NAME/.$CI_COMMIT_SHA
      rsync -auvp -e ssh ./docs/build/html/ docs.lahavane.com:/data/$CI_PROJECT_NAME/.$CI_COMMIT_SHA/

      if [ -n "$CI_COMMIT_TAG" ]; then
         slug="$CI_COMMIT_TAG"
      else
         slug="$CI_COMMIT_REF_SLUG"
      fi

      ssh docs.lahavane.com "cd /data/$CI_PROJECT_NAME; rm -r $slug; ln -s .$CI_COMMIT_SHA $slug"
      ssh docs.lahavane.com "cd /data/$CI_PROJECT_NAME; ls -al | grep -oE '\.([0-9]|[a-z])*$' | sort | uniq -c | grep '1 ' | grep -oE '\.([0-9]|[a-z])*$' | xargs rm -rf"
  environment:
    name: docs.lahavane.com
    url: https://docs.lahavane.com/$CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG

publish in our RTD:
  <<: *publish_rtd
  needs:
    - build documentation
  rules:
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_BRANCH =~ /^releases-/
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG =~ /^\d+(\.\d+)*(|a\d+|b\d+|rc\d+)?(\.post\d+)?$/

pages:
  <<: *build_doc
  rules:
    - if: $CI_SERVER_HOST != "gitlab.com"
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

automatically remove MR documentation from our RTD server after 4 hours:
  stage: clean up
  rules:
    - if: $CI_SERVER_HOST != "gitlab.merchise.org"
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: never
    - if: $CI_COMMIT_BRANCH =~ /^releases-/
      when: never
    - if: $CI_MERGE_REQUEST_IID
      when: on_success
    - when: never
  trigger:
    include: ci/cleanup.yml
